{% extends "base.html" %}
{% block page_header %}
    <h2>{{ recipe }}</h2>
{% endblock page_header %}
{% block content %}
    <div>
        <p>{{ recipe.description }}</p>
        <p><i>Ingredients:</i> {{ recipe.ingredients }}</p>
        <p><i>Instructions:</i> <div>{{ recipe.instructions }}</div></p>
    </div>
    <div class="mt-5">
        <a href="{% url 'foodie_app:show' recipe.category.id %}" class="pt-5 link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Back to {{ recipe.category }}</a>
    </div>
{% endblock content %}
