{% extends "base.html" %}
{% block page_header %}
    <h2>Categories</h2>
{% endblock page_header %}
{% block content %}
    {% if categories %}
        <ul class="list-group list-group-flush">
            {% for category in categories %}
                <li class="list-group-item">
                    <b><a href="{% url 'foodie_app:show' category.id %}" class="link-info link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover">{{ category }}</a></b>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No categories available.</p>
    {% endif %}
{% endblock content %}
