<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Foodie - Discover and share amazing recipes.">
        <meta name="keywords" content="food, recipes, cooking, foodie">
        <title>Foddie</title>
    </head>
    <body>
        <header>
            <h1>
                <a href="{% url "foodie_app:index" %}">Foodie App</a>
                <a href="{% if category %}{% url 'recipes:new_with_category' category.id %}{% else %}{% url 'recipes:new' %}{% endif %}">Add recipe</a>
            </h1>
        </header>
        <nav>
            <ul>
                <li><a href="{% url 'foodie_app:index' %}">Home</a></li>
            </ul>
        </nav>
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>
